@charset "utf-8";
/* CSS Document */
* {
	color: #000000 !important;
}
.eight.columns, .button, .button.button-primary{
	display: none;
}
body {
	background-color: rgba(255,255,255,1.00);
}
.four.columns {
	width: auto;
	margin: 0;
	padding: 0;
}
h1{
	margin: 0;
	padding: 0;
	font-size: 12pt; 
}
h2, p{
	font-size: 11pt;
}
